In [2]:
import pandas as pd
import sqlite3
from tqdm.notebook import tqdm
import re
pd.set_option('display.max_columns', 999)

In [3]:
db = sqlite3.connect('data/NPPES_Data_Dissemination_February_2021/npidata2.sqlite')
pd.read_csv('data/Filtered_Hop_Team_Data.csv').to_sql('filtered_hop', db, if_exists = 'append', index = False)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2653: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [8]:
query = """
        WITH CTE AS (SELECT 
	Phys_NPI, 
	Phys_Last_Name,  
	Phys_First_Name, 
	Hosp_NPI,Hospital, 
	CAST(patient_count AS DECIMAL) AS pt_count 
FROM filtered_hop 
WHERE  
	CAST(patient_count AS DECIMAL) > 103 
	AND Hospital NOT LIKE '%Vanderbilt%' )
SELECT 
	Phys_NPI, 
	Phys_Last_Name,  
	Phys_First_Name, 
	Hosp_NPI,Hospital,
	pt_count
FROM CTE
WHERE Phys_NPI NOT IN (
	SELECT Phys_NPI
	FROM filtered_hop
	WHERE Hospital LIKE '%Vanderbilt%')
 """

In [9]:
no_vandy = pd.read_sql(query, db)

In [10]:
no_vandy

,Phys_NPI,Phys_Last_Name,Phys_First_Name,Hosp_NPI,Hospital,pt_count
0,1437154002,BURRICHTER,CALVIN,1023055126,"HCA HEALTH SERVICES OF TENNESSEE, INC.",209
1,1437154002,BURRICHTER,CALVIN,1023055126,"HCA HEALTH SERVICES OF TENNESSEE, INC.",209
2,1003813874,WEBB,KEITH,1518346469,"SAINT THOMAS RIVER PARK HOSPITAL, LLC",176
3,1003813874,WEBB,KEITH,1518346469,"SAINT THOMAS RIVER PARK HOSPITAL, LLC",176
4,1336147776,WEBB,SONJA,1518346469,"SAINT THOMAS RIVER PARK HOSPITAL, LLC",106
...,...,...,...,...,...,...
161,1548715147,LANE,CATHERINE,1629025648,SAINT THOMAS WEST HOSPITAL,132
162,1841748423,HOUSE,NATALIE,1629025648,SAINT THOMAS WEST HOSPITAL,106
163,1841748423,HOUSE,NATALIE,1629025648,SAINT THOMAS WEST HOSPITAL,106
164,1124578687,LOWE,LINDSAY,1629025648,SAINT THOMAS WEST HOSPITAL,222
165,1124578687,LOWE,LINDSAY,1629025648,SAINT THOMAS WEST HOSPITAL,222